* {
  box-sizing: border-box;
}

.phone {
  width: 280px;
  background-color: #222;
  border-radius: 30px;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.phone::before {
  content: '';
  width: 60px;
  height: 5px;
  background-color: #444;
  border-radius: 5px;
  position: absolute;
  top: 8px;
}

.phone::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #555;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 30px;
}

.screen {
  width: 240px;
  height: 50px;
  background-color: #111;
  color: #0ff;
  font-family: 'Courier New', monospace;
  font-size: 1.8rem;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: right;
  box-shadow: inset 0 0 15px #0ff;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dialer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 240px;
  padding-bottom: 100px;
}

.dialer button {
  aspect-ratio: 1 / 1;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}

.dialer button:active {
  transform: translateY(4px);
  box-shadow: 0 0 8px #0ff, 0 0 15px #0ff inset;
  border: 1px solid #0ff;
  color: #222;
}

.clear {
  padding: 10px 20px;
  background-color: rgb(255, 238, 0);
  color: #222;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  position: absolute;
  bottom: 75px;
  width: 240px;
}

.clear:hover {
  background-color: #0cc;
}

.numberInput {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  margin: 20px auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  border-radius: 20px;
  position: absolute;
  bottom: 0;
}

.numberInput input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
}

.numberInput button {
  padding: 12px 20px;
  border-radius: 10px;
  background-color: rgb(59, 213, 97);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  flex-shrink: 0;
  border: 1px solid transparent;
}

.numberInput button:hover {
  transform: scale(1.05);
}

.numberInput button:active {
  border: 1px solid white;
  transform: scale(0.98);
}