* {
  box-sizing: border-box;
}

.dialer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 240px;
}

.dialer button {
  aspect-ratio: 1 / 1;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}

.dialer button:active {
  background-color: #d1d1d1;
  transform: scale(0.96);
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}